* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #1f2937;
    padding: 20px;
}

.logo {
    font-weight: bold;
    font-size: large;
    color: #f9faf8;
}

header ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 100;
    font-size: small;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.firt-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    gap: 20px;
    background-color: #1f2937;
    margin: 0px;
    padding: 30px;
    padding-bottom: 100px;
}

.left-c1 {
    display: flex;
    flex-direction: column;
}

.left-c1 h1{
    color: #f9faf8;
    font-size: 48px;
    max-width: 300px;
}

.left-c1 p{
    font-size: 18px;
    max-width: 400px;
    color: #e5e7eb;
}

.firt-container img {
    max-width: 400px;
    height: auto;
}

.firt-container button {
    border: 0px;
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.second-container h1 {
    text-align: center;
    font-size: 36px;
    margin: 24px;
    padding-bottom: 10px;
}

.second-container img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    max-width: 150px;
}

.second-container ul {
    display: flex;
    gap: 32px;
    justify-content: center;
    list-style: none;
}

.second-container li {
    max-width: 150px;
    text-align: center;
    margin-bottom: 150px;
}

.third-container {
    background-color: #e5e7eb;
    display: flex;
    padding: 150px;
    flex-direction: column;
    align-items: center;
}

.third-container .quote {
    font-weight: 300;
    font-size: 36px;
    color: #1f2937;
    padding-left: 110px;
}

.third-container .author {
    align-self: end;
    margin-right: 100px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    color: #e5e7eb;
    left: 0;
    font-size: small;
}